.custom-form .ant-form-item-label {
  padding-bottom: 0px !important;
}

.custom-form .ant-table-cell {
  padding: 5px 8px !important;
}

.custom-form .ant-select-selector {
  border-color: #999 !important;
}
